[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=lijing
WorkingDirectory=/home/lijing/sites/SITENAME/source/
ExecStart=/home/lijing/sites/SITENAME/virtualenv/bin/gunicorn --bin unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target 
